html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 90%;
    width: 100%;
}

#button-container {
    text-align: center;
    margin-top: 10px;
}

#show-itinerary-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
